@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: hsl(187 96% 27%);
  --secondary: hsl(199 89% 48%);
  --destructive: hsl(0 84.2% 60.2%);
  --wiki-blue: hsl(187 96% 27%);
  --wiki-blue-visited: hsl(187 96% 20%);
}

body {
  font-family: Georgia, 'Times New Roman', serif, 'Apple Color Emoji', 'Noto Color Emoji';
  line-height: 1.6;
}
